doctype html
html(lang='en')
  block head
    include includes/head

  block vars
        //- include nav-main

        //- include header

  body
    block header
      include includes/header

    .container
      block main-content

    block footer
      include includes/footer

    block scripts
      include includes/scripts
