doctype html
html(lang='en')
  block head
    include includes/head

  block vars
        //- include nav-main

        //- include header

  body

    block main-content

    block scripts
      include includes/scripts
