header.area-header
  .container
    a.logo-brand(href='/') Carsales.com.au - Australia's No.1 Auto Website presents

    .mrec.mrec-header

  //- #header-banner-html
  //- #ctl08_h_standardBanner_pnlBannerAd
  //-   #banner-ad
  //-     #Tile1
  //-       noscript
  //-         a(href='http://ad.au.doubleclick.net/jump/cs.home/secother;=;tile=1;sz=728x90;ord=823072?')
  //-           img(alt='', src='http://ad.au.doubleclick.net/ad/cs.home/other;sec=;tile=1;sz=728x90;ord=823072?', width='728', height='90', style='border: none;')
